@page "/urbanonymy/street-api-geo-portal"
@layout MainLayout
@inherits Reestr.Blazor.Component.ApiGeoPortal.Street.StreetApiGeoPortalComponent

@using Radzen
@using Radzen.Blazor
@using Reestr.Api.GeoPortal.Model

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H1" Text="Реєстр урбанонімів міста Харків" Style="text-align:center">
        </RadzenHeading>
        <div class="row">
            <div class="col-md-12">          
                @*<RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await Load();})">
                </RadzenTextBox>*@
                <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" 
                                PageSize="15" AllowPaging="true" AllowSorting="true" Data="@getStreetsResult" TItem="StreetsModel" RowDoubleClick="@SelectHistoryStreets" >
                    <Columns>
                        <RadzenDataGridColumn TItem="StreetsModel" Property="id" Title="Обліковий номер">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="StreetsModel" Property="type_ukr" Title="Тип вулиці">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="StreetsModel" Property="name_ukr" Title="Назва вулиці">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="StreetsModel" Property="valid" Title="Статус">
                            <Template Context="data">
                                @if (data.valid == "YES")
                                {
                                  <span style="color: #32d296">Чинна</span>
                                }
                                else
                                { 
                                    <span style="color: #f0506e">Скасована</span>
                                }
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="StreetsModel" Property="reg_date" Title="Зареєстровано">
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
