<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Reestr.DGA</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Головна сторінка
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/urbanonymy/street-api-geo-portal">
                <span class="oi oi-text" aria-hidden="true"></span> Урбаноніми
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addressings/data-addressing">
                <span class="oi oi-signpost" aria-hidden="true"></span> Адресація
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/сonstruction">
                <span class="oi oi-map" aria-hidden="true"></span> Будівельний паспорт
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/сonstruction">
                <span class="oi oi-map" aria-hidden="true"></span> Містобудівні
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/destruction/register-of-emergency-buildings">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Руйнування
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/list-page">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Інші
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/user-list-page">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Користувачі
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
