@page "/"
@namespace Reestr.Blazor.Pages
@using Reestr.Database.Model
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reestr.DGA</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Reestr.Blazor.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>


    <script>
        function JsTest() {
            //var swiper = new Swiper(".mySwiper", {
            //    slidesPerView: 1,
            //    centeredSlides: false,
            //    slidesPerGroupSkip: 1,
            //    grabCursor: true,
            //    keyboard: {
            //        enabled: true,
            //    },
            //    breakpoints: {
            //        769: {
            //            slidesPerView: 2,
            //            slidesPerGroup: 2,
            //        },
            //    },
            //    scrollbar: {
            //        el: ".swiper-scrollbar",
            //    },
            //    navigation: {
            //        nextEl: ".swiper-button-next",
            //        prevEl: ".swiper-button-prev",
            //    },
            //    pagination: {
            //        el: ".swiper-pagination",
            //        clickable: true,
            //    },
            //});

            var swiper = new Swiper(".mySwiper", {
                zoom: true,
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                },
                pagination: {
                    el: ".swiper-pagination",
                    clickable: true,
                },
            });
        }

    </script>
</body>
</html>
