@page "/"

<h1 class="text-center">Департамент містобудування та архітектури</h1>
<h2 class="text-center">Департамент житлово-комунального господарства</h2>


<div class="container">
    <div class="row text-center">
        <div class="col-sm-4 col-md-4 mt-3">
            <div class="card">
                <img src="/img/48d1c0b6a0ca7c3ec031e8e0a8797ac4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/urbanonymy/data-streets" class="btn btn-light btn-lg btn-block">Урбаноніми</a>
                </div>
            </div>
            <div class="card mt-3">
                <img src="/img/d15162c3cedc15ff1d1b3c14f9559f1c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/сonstruction" class="btn btn-light btn-lg btn-block">Містобудівні</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 mt-3">
            <div class="card">
                <img src="/img/d744af6a87496ad4fe73f6c4e3796a39.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="addressings/data-addressing" class="btn btn-light btn-lg btn-block">Адресація</a>
                </div>
            </div>
            <div class="card mt-3">
                <img src="/img/ccec6ef1650367a47fa11eb667aae78e.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/destruction/register-of-emergency-buildings" class="btn btn-light btn-lg btn-block">Руйнування</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 mt-3">
            <div class="card">
                <img src="/img/5d6af86fd22ef212ccc2bf4c5c826e4a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/сonstruction" class="btn btn-light btn-lg btn-block">Будівельний паспорт</a>
                </div>
            </div>
            <div class="card mt-3">
                <img src="/img/bbb0be9f9eeb128b91e873fa8388721a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="/list-page" class="btn btn-ligh  btn-lg btn-block">Інші</a>
                </div>
            </div>
        </div>
    </div>
</div>