@page "/list-page"
@layout MainLayout

@using Radzen
@using Radzen.Blazor


<div class="row px-3">
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Рішення перейменування вулиць</h4>
            <RadzenLink Path="/solutions/solutions" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Адміністративні райони</h4>
            <RadzenLink Path="/district/data" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Категорії вулиць</h4>
            <RadzenLink Path="/street-categories/data-street-categories" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Цільове використання земель</h4>
            <RadzenLink Path="#" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Тип адресації</h4>
            <RadzenLink Path="#" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Пам'ятники архітектури Харків</h4>
            <RadzenLink Path="#" Text="Переглянути" />
        </RadzenCard>
    </div>
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-3">Пам'ятки культурної спадщини Харківщини</h4>
            <RadzenLink Path="#" Text="Переглянути" />
        </RadzenCard>
    </div>
</div>

@code { }
